<p>
  You have visited this page <%= pluralize(@visit_count, 'time') %>.
  <%= debug session[:customers_to_call] %>
</p>

<% if @customers_to_call.any? %>
  <h1>Customers to Call</h1>

  <div class="card-deck-wrapper">
    <div class="card-deck">
      <%= render @customers_to_call %>
    </div>
  </div>
<% end %>

<h1>All Customers</h1>

<div class="card-deck-wrapper">
  <div class="card-deck">
    <%= render @customers %>
  </div>
</div>
