<p>
  You have visited this page <%= pluralize(@visit_count, 'time') %>.
</p>

<h1>All Customers</h1>

<div class="card-deck-wrapper">
  <div class="card-deck">
    <%= render @customers %>
  </div>
</div>
